.footer {
  color: #0c4a6e;
  color: darken($colors.info, 30%);
  border-top: rem-calc(2) solid @color;
  background-color: $colors.info;
  text-align: center;

  /[class*="footer__group-"] {
    padding-top: $margin;
    padding-bottom: $margin;
  }

  /.footer__group-social {
    border-top: rem-calc(1) solid darken($colors.info, 10%);
    border-bottom: @border-top;

    +breakpoint(large) {
      border: 0;
    }

    ul li {
      display: inline-block;
      padding: 0 rem-calc(10 / 2);
    }
  }

  /.footer__group-phone {
    text-transform: uppercase;

    small {
      font-size: $fonts.default.size.small;
      font-weight: $fonts.default.weight.bold;
      vertical-align: middle;
    }

    big {
      color: $colors.light;
      font-size: 7vmin;

      +breakpoint(medium) {
        font-size: $fonts.default.size.extra-highlight;
      }
    }
  }

  /.footer__group-address {
    /**
     * Layout says regular weight,
     * my heart says semibold weight.
     */
    font-weight: $fonts.default.weight.semibold;

    +breakpoint(large) {
      text-align: left;
    }
  }
}
