$header = {
  height: rem-calc(80)
}

.header {
  min-height: $header.height;
  background-color: $colors.light;
  box-shadow: 0 0 rem-calc(10) rem-calc(5) rgba($colors.dark, .1);

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(42);
    height: rem-calc(42);
    text-align: center;
    padding: 0;

    & > span {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  /.header__group-logo {
    span {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    img {
      +breakpoint(large) {
        transform: translateX(50%);
      }
    }
  }

  /.header__group-download .button {
    +breakpoint(large) {
      width: auto;
      height: auto;
      display: initial;
      padding: $button.padding;
      text-transform: uppercase;
      font-size: $fonts.default.size.small;
      font-weight: $fonts.default.weight.semibold;
    }

    & > span {
      +breakpoint(large) {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
      }
    }

    &.hide {
      display: none;
    }

    &.icon:before {
      +breakpoint(large) {
        margin-right: $margin;
        vertical-align: bottom;
      }
    }
  }
}
