$gutter = {
  x-small: (rem-calc(20) / 2),
  medium: (rem-calc(17) / 2)
}

$breakpoints = {
  small: 0,
  medium: 48rem,
  large: 85.375rem
}

breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoints[$breakpoint]) {
    {block}
  }
}

body {
  max-width: 100%;
}

.grid {
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  height: inherit;

  &.middle {
    align-items: center;
  }

  &.justify {
    justify-content: space-between;
  }
}

.column {
  padding-left: $gutter.x-small;
  padding-right: $gutter.x-small;
  max-width: 100%;

  &.shrink {
    flex: 0 0 auto;
  }

  &.expand {
    flex: 1 1 100%;
  }

  &.small-expand {
    +breakpoint(small) {
      flex: 1 1 100%;
    }
  }
}
